.button-box__item {
  display: inline-block;
  background-color: var(--background-color-button);
  padding: 15px 20px;
  border-radius: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 170px;
  text-align: center;
  text-decoration: none;
  color: #000;

  transition: background-color 0.5s ease-in-out;
}

.button-box__item:hover {
  background-color: #c6ee25;
}